@model DefenseSimulator.Models.Arsenal

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-4">
    <h1>Edit</h1>
    <div class="card col-6">
        <div class="card-header">
            <h4>Edit Arsenal</h4>
        </div>
        <div class="card-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="DefenseWeaponId" />

                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="card-footer">
            <a class="btn btn-secondary" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
