@model IEnumerable<DefenseSimulator.Models.Arsenal>




<div class="container">
    <div class="row">
        <div class="col-6">

@*             // arsenals*@
             <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@item.DefenseWeapon.Type</h5>
                                <p class="card-text">Amount: @item.Amount</p>
                                <form asp-controller="Responses" asp-action="LaunchResponse" asp-route-id="@item.Id">
                                    

                                    <input type="submit"  class="btn btn-warning" value="Intersept Threat" />
                                </form>

                            </div>
                        </div>
                    </div>
                }
            </div>


            <div class="col-6">

            </div>
        </div>
    </div>
</div>
